<h1><center>{{board_name}}</center></h1>
<table class="table">
    <thead>
      <tr>
        {% for item in boards[0] %}
        <th scope="col">{{item}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        {% for k,v in board.items() %}
          {% if k== "Status" %}
            {% if v=="Pass" %}
              <td><span>&#9989;</span></td>
            {% else %}
              <td><span>&#10060;</span></td>
            {% endif %}
          {% elif k in ["Linux Tests","pyadi Tests"] %}
            <td>
              Passed <span class="badge rounded-pill bg-success">{{v.pass}}</span>
              Failed <span class="badge rounded-pill bg-danger">{{v.fail}}</span>
            </td>
          {% else %}
            <td>{{v}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  